# Environments
.env
.env.[!example]*
.venv
env/
venv/
ENV/

# Python caching
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Logs
*.log

# Database
aroundu.db
aroundu.db-journal
*.db

# OS specific
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Local uploads
uploads/

# Zip files
Around.zip

# Firebase Credentials
firebase-credentials.json
